{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Newspaper Lecheria{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        

        <a href="{% url 'article-list' %}">
            <h1>Newspaper Lecheria</h1> </a>
        
            <a href="{% url 'article-create' %}">
                <h2>Create Article</h2></a>
                <span>
                    {% if user.is_authenticated %}
                        <p>Bienvenido, {{ user.username }}!</p>
                        <a href="{% url 'logout' %}">Cerrar sesión</a>
                    {% else %}
                        <a href="{% url 'login' %}">Iniciar sesión</a>
                    {% endif %} 

    </header>
    <main>
        {% block content %}
        {% endblock content %}

    </main>

    <footer>
    
    </footer>
</body>
</html>
