{% extends "_base.html" %}

{% block content %}
        <h2>{{ article.title }}</h2>
        <p><strong>Autor:</strong> {{ article.author }}</p>
        <small>Fecha de publicación: {{ article.created_at }}</small>
        <p><strong>Contenido:</strong> {{ article.content }}</p>
    

        <!-- botones de edición y eliminación solo si el usuario es el autor -->
        {% if user.is_authenticated and user == article.author %}
            <a href="{% url 'article-update' article.pk %}">Editar</a>
            <a href="{% url 'article-delete' article.pk %}">Eliminar</a>
        {% endif %}
{% endblock content %} 